@import '@/styles/flexible.scss';

.conatiner {
  width: 100%;
}

.middleLoginBox {
  width:440px;
  height:558px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(151,151,151,1);
  margin: 217px auto 0;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  padding: 80px 40px;
}

.logo {
  display: block; 
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%; 
  position: absolute;
  left: 50%;
  transform: translate(-50%,-130px);
  border:1px solid rgba(151,151,151,1);
}

.title {
  line-height: 1;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.registerContainer {
  background-color: #fff;
  padding-top: 80px;
}

.registerTabs {
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="center center"];
  margin-bottom: 70px;
  li {
    position: relative;
    color: #666;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    &:nth-of-type(1) {
      margin-right: 130px;
    }
  }
  .activeTab {
    color: #2556F2;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100px;
      height: 4px;
      background-color: #2556F2;
    }
  }
}

.desc {
  font-size: 14px;
  .left {
    color: #666;
    margin-left: 2px;
  }
  strong {
    color: #2556F2;
    font-weight: normal;
    cursor: pointer;
  }
}

.submitBtn {
  width: 100%;
  height: 46px;
  border-radius: 4px;
  background: linear-gradient(46deg,rgba(13,70,239,1) 0%,rgba(22,165,255,1) 100%);
  text-align: center;
  line-height: 46px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}