@import '@/styles/flexible.scss';

.search {
  width: 100%;
  padding: 30px 30px 40px;
  border-top: 1px solid #e2e2e2;
}

.main {
  padding: 0 24px;
}

.modalFooter {
  width: 100%;

  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='end center'];

  margin-top: 60px;
  font-size: 20px;

  .footerContent {
    @extend [layout];
    @extend [layout='column'];
    @extend [layout-align='start end'];

    .text {
      margin-bottom: 20px;
      color: #333;
    }

    .price {
      margin-left: 30px;
      color: #ff0808;
      font-size: 22px;
      vertical-align: bottom;

      i {
        margin-left: 5px;
        font-weight: bold;
        font-size: 14px;
        font-style: normal;
      }
    }
  }
}


.qrcodeWrapper {
  .content {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='space-between center'];
    padding: 0 180px;
    li {
      @extend [layout];
      @extend [layout='column'];
      @extend [layout-align='center center'];
      width: 160px;
      height: 210px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 33px;
      }
    }
  }
}