.fromMain {
  :global {
    .ant-input-lg {
      font-size: 14px;
    }
  }
}

.container {
  width: 100%;

  .title {
    margin-bottom: 10px;
    vertical-align: bottom;

    .text {
      font-size: 24px;
    }

    .desc {
      margin-left: 14px;
      color: #666;
      font-size: 14px;
    }
  }

  .searchCondition {
    margin-top: 20px;
  }
}

.searchMainStyle0 {
  display: flex;
  flex-direction: row;
  align-items: center;

  .formItemOne {
    flex-shrink: 0;
    width: (2/5) * 100%;
    padding-right: 10px;

    :global {
      .ant-input-affix-wrapper .ant-input-prefix {
        left: 6px;
      }

      .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
        margin-left: 85px;
      }
    }
  }

  .formItemTwo {
    flex-shrink: 0;
    width: (1/5) * 100%;
    padding-right: 10px;
  }

  .formItemThree {
    flex-shrink: 0;
    width: (1/5) * 100%;
    padding-right: 10px;
  }

  .formItemFour {
    flex-shrink: 0;
    width: (1/5) * 100%;
    padding-right: 10px;
  }

  .formItemBtn {
    flex-shrink: 0;
    width: (1/5) * 100%;

    :global {
      .ant-form-item-children {
        padding-left: 10px;
      }
    }

    .submitBtn {
      width: calc(100% - 10px);
    }
  }
}

.searchMainStyle1 {
  display: flex;
  flex-direction: row;
  align-items: center;

  .formItemOne {
    position: relative;
    flex-shrink: 0;
    width: (2/7) * 100%;
    padding-right: 20px;

    &::after {
      position: absolute;
      top: 20px;
      right: 0;
      display: block;
      width: 20px;
      border-top: 1px solid #ccc;
      content: '';
    }
  }

  .formItemTwo {
    flex-shrink: 0;
    width: (2/7) * 100%;
    padding-right: 20px;

    :global {
      .ant-input-affix-wrapper .ant-input-prefix {
        left: 6px;
      }

      .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
        margin-left: 30px;
      }
    }
  }

  .formItemThree {
    flex-shrink: 0;
    width: (1/7) * 100%;
    padding-right: 20px;
  }

  .formItemFour {
    flex-shrink: 0;
    width: (1/7) * 100%;
    padding-right: 20px;
  }

  .formItemBtn {
    flex-shrink: 0;
    width: (1/7) * 100%;

    :global {
      .ant-form-item-children {
        width: 100%;
      }
    }

    .submitBtn {
      width: 100%;
    }
  }
}

.searchMainStyle2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .formItemOne {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      top: 20px;
      right: 0;
      display: block;
      width: 20px;
      border-top: 1px solid #ccc;
      content: '';
    }
  }

  .formItemTwo {
    flex-shrink: 0;
    width: 50%;
    padding-bottom: 20px;

    :global {
      .ant-input-affix-wrapper .ant-input-prefix {
        left: 6px;
      }

      .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
        margin-left: 30px;
      }
    }
  }

  .formItemThree {
    flex-shrink: 0;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .formItemFour {
    flex-shrink: 0;
    width: 50%;
    padding-bottom: 20px;
  }

  .submitBtn {
    width: 200px;
  }
}
