@import '@/styles/flexible.scss';

.conatiner {
  width: 100%;
}

.banner {
  width: 100%;
  height: 600px;
  position: relative;
  :global {
    .slick-slide {
      text-align: center;
      height: 600px;
      line-height: 600px;
      // background: #364d79;
      overflow: hidden;
    }
    .ant-select-auto-complete.ant-select-lg .ant-input {
      text-indent: 60px;
    }
    .ant-select-auto-complete.ant-select .ant-input,
    .ant-input,
    .ant-select-auto-complete.ant-select .ant-input {
      border: 1px solid #fff !important;
    }
    .ant-select-auto-complete.ant-select .ant-input:focus,
    .ant-input:focus,
    .ant-select-auto-complete.ant-select .ant-input:hover {
      border: 1px solid #fff !important;
    }
  }
}

.searchPanel {
  width: 890px;
  height: 124px;
  border-radius: 8px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    font-size: 20px;
    color: #fff;
    line-height: 1;
    margin-bottom: 20px;
  }
  .btnBox {
    padding-left: 10px;
  }
}

.middleWrap {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-around center'];

  height: 170px;
  color: #333;
  font-weight: bold;
  font-size: 24px;
}

.clearfloat::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '';
}

.clearfloat {
  zoom: 1;
}

.SpecialOfferItem {
  float: left;
  width: 270px;
  height: 254px;
  margin-right: 40px;
  margin-bottom: 40px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.picPort {
  position: relative;
  width: 270px;
  height: 180px;
  background: #ccc;
}

.ports {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='start center'];
}

.bottomPart {
  height: 70px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='center center'];
  ul {
    li {
      @extend [layout];
      @extend [layout='column'];
      @extend [layout-align='space-between'];

      float: left;
      width: 68px;
      p {
        &:first-child {
          color: #999;
          font-size: 12px;
        }
        &:nth-child(2) {
          color: #ff7d14;
          font-size: 16px;
        }
      }
    }
  }
}

// serviec
.serviceMain {
  height: 560px;
  background: url(../../assets/img/bg_fuwuyoushi.png) no-repeat center;
}

.serviceItem {
  text-align: center;
  padding: 0 50px;
  color: #fff;
  cursor: pointer;
  img,
  .text {
    transition: 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.2) translateY(-20px);
    }
    .text {
      transform: translateY(-20px);
    }
  }
  .text {
    p {
      &:first-child {
        font-size: 20px;
        margin-top: 50px;
      }
      &:nth-child(2) {
        margin-top: 30px;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}

.videoNews {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.vedio {
  width: 580px;
  height: 400px;
  background: url(../../assets/img/vedio.png);
}

.newsMain {
  width: 580px;
  height: 400px;
}

.newsPic {
  height: 162px;
  display: flex;
  justify-content: space-between;
  li {
    height: 162px;
  }
}

.newTit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-top: 20px;
  position: relative;
  padding-left: 15px;
  &::before {
    content: '';
    display: block;
    height: 22px;
    width: 8px;
    background: linear-gradient(180deg, rgba(13, 70, 239, 1) 0%, rgba(47, 93, 244, 1) 100%);
    position: absolute;
    left: 0;
  }
  span {
    color: #0d46ef;
    font-size: 22px;
  }
  a {
    font-size: 18px;
    color: #999;
  }
}

.newsList {
  li {
    line-height: 1;
    margin-top: 22px;
    position: relative;
    padding-left: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(13, 70, 239, 1) 0%, rgba(47, 93, 244, 1) 100%);
      position: absolute;
      left: 0;
      top: 5px;
    }
    span:nth-of-type(1) {
      color: #333;
    }
    span:nth-of-type(2) {
      color: #999;
    }
  }
}
