@import '@/styles/flexible.scss';

.conatiner {
  width: 100%;
  background-color: #fff;
  :global{
    path{
      stroke-linejoin:round;
      stroke-linecap:round;
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 600px;

  :global {
    .slick-slide {
      height: 600px;
      // background: #364d79;
      overflow: hidden;
      line-height: 600px;
      text-align: center;
    }

    .ant-select-auto-complete.ant-select-lg .ant-input {
      text-indent: 60px;
    }

    .ant-select-auto-complete.ant-select .ant-input,
    .ant-input {
      border: 1px solid #fff !important;
    }

    .ant-select-auto-complete.ant-select .ant-input:focus,
    .ant-input:focus,
    .ant-select-auto-complete.ant-select .ant-input:hover {
      border: 1px solid #fff !important;
    }
  }

  .bannerInner{
    height: 600px; 
    background: url('../../assets/img/banner.jpg') center no-repeat;
    background-size: 1920px 600px;
  }

  .bannerMain{
    width: 1200px;
    height: 600px;
    margin:0 auto;
    position: relative;
  }

  .pointer{
    width: 20px; height: 20px; display: block; background: #fff;  
    box-shadow: 0 0 20px 0px #fff;
    border-radius: 50%; position: absolute;animation: roundpointer 1.5s infinite;
  }
  .startPoint{
    right: 257px; top: 206px; 
  }
}

.searchPanel {
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 890px;
  height: 124px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transform: translate(-50%, -50%);

  p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
  }

  .btnBox {
    padding-left: 10px;
  }
}

.middleWrap {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-around center'];
  height: 200px;
  color: #333;
  font-weight: bold;
  font-size: 24px;
}

.newsTitle{
  background: url('../../assets/img/newsTile.png') no-repeat center 100px;
}
.specalTitle{
  background: url('../../assets/img/specalTitle.png') no-repeat center 100px;
}




.clearfloat::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '';
}

.clearfloat {
  zoom: 1;
}

.specialOfferItem {
  float: left;
  width: 270px;
  height: 254px;
  margin-right: 40px;
  margin-bottom: 40px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.picPort {
  position: relative;
  width: 270px;
  height: 180px;
  background: #ccc;
  img {
    width: 100%;
    height: 100%;
  }
}

.ports {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);

  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='start center'];
}

.bottomPart {
  height: 70px;
  padding: 15px 20px;
  border: 1px solid #ccc;

  @extend [layout];
  @extend [layout='row'];
  justify-content: space-between;
  align-items: center;

  ul {
    li {
      @extend [layout];
      @extend [layout='column'];
      @extend [layout-align='space-between'];

      float: left;
      width: 68px;

      p {
        &:first-child {
          color: #999;
          font-size: 12px;
        }

        &:nth-child(2) {
          font-weight: bold;
          color: #ff7d14;
          font-size: 16px;
        }
      }
    }
  }
}

// serviec
// .serviceMain {
//   height: 560px;
//   background: url(../../assets/img/bg_fuwuyoushi.png) no-repeat center;
// }
.serviceMain {
  background: linear-gradient(46deg,#0D46EF 0%,#2F5DF4 100%);;
  width: 100%;
  height: 636px;
  .serviceContent {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: url('../../assets/img/fuwuyoushi-bg.png') no-repeat center;
    background-size: 1200px;
  }
}

.serviceItem {
  padding: 0 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;

  img,
  .text {
    transition: 0.3s;
  }

  &:hover {
    img {
      transform: scale(1.2) translateY(-20px);
    }

    .text {
      transform: translateY(-20px);
    }
  }

  .text {
    p {
      &:first-child {
        margin-top: 50px;
        font-size: 20px;
      }

      &:nth-child(2) {
        margin-top: 30px;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}

.videoNews {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.vedio {
  width: 580px;
  height: 400px;
  // background: url(../../assets/img/vedio.png);
}

.newsMain {
  width: 580px;
  height: 400px;
}

.newsPic {
  display: flex;
  justify-content: space-between;
  height: 162px;

  li {
    height: 162px; cursor: pointer;
  }
}

.newTit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 15px;
  line-height: 1;

  &::before {
    position: absolute;
    left: 0;
    display: block;
    width: 8px;
    height: 22px;
    background: linear-gradient(180deg, rgba(13, 70, 239, 1) 0%, rgba(47, 93, 244, 1) 100%);
    content: '';
  }

  span {
    color: #0d46ef;
    font-size: 22px;
  }

  a {
    color: #999;
    font-size: 18px;
  }
}

.newsList {
  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      background: linear-gradient(180deg, rgba(13, 70, 239, 1) 0%, rgba(47, 93, 244, 1) 100%);
      border-radius: 50%;
      content: '';
    }

    span:nth-of-type(1) {
      color: #333;
      display: inline-block;
      width: 360px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span:nth-of-type(2) {
      color: #999;
    }
  }
}

.drawLine{
  stroke-width:3;
  stroke:#6deffc;
  animation: dash 3s linear infinite;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes roundpointer{
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.2);
  }
  50% {
      transform: scale(1.5);
  }
  75% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}