.container {
  width: 100%;
  padding: 190px 0 100px 0;
  color: #333;
}
.mainContainer {
  width: 820px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  padding: 40px;
  .title {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin-bottom: 40px;
  }
}
