@import '@/styles/flexible.scss';

.container {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='start start'];
  padding: 20px 0;
  :global {
    .ant-card-head {
      padding: 0;
      margin: 0 24px;
    }
  }
}

.mainContent {
  width: calc(100% - 518px);
  margin-right: 40px;
}

.shippingInformation {
  .routes {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='center start'];
    .left,
    .right {
      @extend [layout];
      @extend [layout='column'];
      .addressTitle {
        font-size: 14px;
        color: #666;
      }
      .addressText {
        font-size: 22px;
        color: #333;
      }
    }
    .left {
      @extend [layout-align='center end'];
    }
    .middle {
      width: 154px;
      margin: 0 10px;
      text-align: center;
      color: #999;
    }
  }
}

.subContent {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between center'];
  height: 60px;
  margin-top: 50px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  :global {
    .ant-badge-status-text {
      font-size: 14px;
      color: #666;
    }
  }
}

.priceInfo {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between end'];
  margin-top: 24px;
  h5 {
    font-size: 18px;
    font-weight: normal;
  }
  .priceContent {
    width: 360px;
    @extend [layout];
    @extend [layout='column'];
    @extend [layout-align='center center'];
    .info {
      width: 100%;
      @extend [layout];
      @extend [layout='row'];
      @extend [layout-align='space-between center'];
      font-size: 18px;
      color: #666;
      strong {
        font-size: 22px;
        color: #ff7d14;
      }
    }
    p {
      font-size: 14px;
      color: #999;
    }
  }
}

.instructions {
  width: 478px;
  position: fixed;
  top: 84px;
  right: 40px;
  p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .price {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='space-between center'];
    margin-top: 70px;
    font-size: 22px;
    font-weight: bold;
    .text {
      color: #333;
    }
    .num {
      vertical-align: bottom;
      color: #f80000;
      height: 24px;
      .symbol {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
  .agreement {
    text-align: center;
    margin: 30px 0 12px;
    .desc {
      margin-left: 4px;
    }
  }
  .submitBtn {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
  &.sticky {
    // position: fixed;
    top: 40px;
  }
}
