@import '@/styles/flexible.scss';

.container {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='start start'];

  padding: 20px 0;

  :global {
    .ant-card-head {
      margin: 0 24px;
      padding: 0;
    }
  }
}

.mainContent {
  width: calc(100% - 518px);
  margin-right: 40px;
}

.shippingInformation {
  .routes {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='center start'];

    .left,
    .right {
      @extend [layout];
      @extend [layout='column'];

      .addressTitle {
        color: #666;
        font-size: 14px;
      }

      .addressText {
        color: #333;
        font-size: 22px;
      }
    }

    .left {
      @extend [layout-align='center end'];
    }

    .middle {
      @extend [layout];
      @extend [layout='column'];
      @extend [layout-align='center center'];
      width: 154px;
      margin: 0 10px;
      color: #999;
      text-align: center;
    }
  }
}

.subContent {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between center'];

  height: 60px;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  :global {
    .ant-badge-status-text {
      color: #666;
      font-size: 14px;
    }
  }
}

.priceInfo {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between end'];

  margin-top: 24px;

  .leftContent {
    h5 {
      font-weight: normal;
      font-size: 18px;
    }
    .desc {
      color: #666;
      font-size: 12px;
    }
  }

  .priceContent {
    width: 360px;

    @extend [layout];
    @extend [layout='column'];
    @extend [layout-align='center center'];
    .info {
      width: 100%;
      color: #666;
      font-size: 18px;

      @extend [layout];
      @extend [layout='row'];
      @extend [layout-align='end center'];
      span:nth-child(1) {
        margin-right: 88px;
      }
      strong {
        color: #ff7d14;
        font-size: 22px;
      }
    }

    p {
      color: #999;
      font-size: 14px;
    }
  }
}

.instructions {
  position: fixed;
  // top: 124px;
  right: 40px;
  width: 478px;

  p {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }

  .price {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='space-between center'];

    margin-top: 70px;
    font-weight: bold;
    font-size: 22px;

    .text {
      color: #333;
    }

    .num {
      height: 24px;
      color: #f80000;
      vertical-align: bottom;

      .symbol {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }

  .agreement {
    margin: 30px 0 12px;
    text-align: center;

    .desc {
      margin-left: 4px;
    }
  }

  .submitBtn {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }

  &.sticky {
    // position: fixed;
    top: 40px;
  }
}

.modalSearch {
  margin-bottom: 40px;
}

.addressContainer {
  .default {
    width: 24px;
    height: 14px;
    margin-right: 10px;
    padding: 2px 5px;
    color: rgba(37, 86, 242, 1);
    font-size: 12px;
    line-height: 14px;
    border: 1px solid rgba(37, 86, 242, 1);
    border-radius: 3px;
  }
}
