@import '@/styles/flexible.scss';

.container {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='start start'];

  padding: 20px 0 70px;

  :global {
    .ant-card-head {
      margin: 0 24px;
      padding: 0;
      border: none;
    }
  }
}

.mainContent {
  // width: calc(100% - 510px);
  margin-right: 40px;
  h2 {
    font-size: 20px;
    margin-top: 30px;
  }
}

.subContent {
  margin-top: 50px;
  flex-basis: 480px;
  // width: 478px;
  .shippingInformation {
    .routes {
      @extend [layout];
      @extend [layout='row'];
      @extend [layout-align='center start'];
  
      .left,
      .right {
        @extend [layout];
        @extend [layout='column'];
  
        .addressTitle {
          color: #666;
          font-size: 14px;
        }
  
        .addressText {
          color: #333;
          font-size: 20px;
        }
      }
  
      .left {
        @extend [layout-align='center end'];
      }
  
      .middle {
        @extend [layout];
        @extend [layout='column'];
        @extend [layout-align='center center'];
        width: 154px;
        margin: 0 10px;
        color: #999;
        text-align: center;
      }
    }
  }
  
  .panelInfo {
    padding: 22px 0 27px;
    margin-top: 15px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px solid #ccc;
    .infoList {
      font-size: 14px;
      line-height: 28px;
      color: #999;
      li {
        @extend [layout];
        @extend [layout='row'];
        @extend [layout-align='space-between center'];
        .value {
          color: #666;
        }
        .weight {
          .desc {
            font-size: 12px;
            color: #FF8A01;
          }
        }
      }
      .desc {
        // display: inline-block;
        width: 100%;
        font-size: 12px;
        color: #FF8A01;
        text-align: right;
      }
    }
  }
  
  .priceInfo {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='space-between start'];
    font-size: 14px;
    margin-top: 25px;
    .label {
      color: #333;
    }
    .value {
      text-align: right;
      color: #666;
      strong {
        font-size: 22px;
        color: #333;
        margin-right: 5px;
      }
    }
  }
  
  .lineExp {
    padding: 30px 0;
    color: #333;
    h6 {
      font-weight: normal;
      font-size: 16px;
    }
    p {
      padding: 26px 0;
      font-size: 14px;
    }
  }

  .totalPrice {
    @extend [layout];
    @extend [layout='row'];
    @extend [layout-align='space-between center'];
    font-weight: bold;
    font-size: 22px;

    .text {
      color: #333;
    }

    .num {
      height: 24px;
      color: #f80000;
      vertical-align: bottom;
      .kgsCbm {
        color: #333;
      }
      .symbol {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }
}

.footWrapper {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between center'];
  width: 300px;
  .agreement {
    // margin: 30px 0 12px;
    text-align: center;

    .desc {
      cursor: pointer;
      margin-left: 4px;
      color: #2556f2;
    }
  }
}


.modalSearch {
  margin-bottom: 40px;
}

.addressContainer {
  .default {
    width: 24px;
    height: 14px;
    margin-right: 10px;
    padding: 2px 5px;
    color: rgba(37, 86, 242, 1);
    font-size: 12px;
    line-height: 14px;
    border: 1px solid rgba(37, 86, 242, 1);
    border-radius: 3px;
  }
}

.protocolWrapper {
  .title {
    font-size: 20px; 
    text-align: center;
    line-height: 2;
  }
  h4 {
    text-align: center;
  }
  h5 {
    font-size: 16px;
    line-height: 1.8;
    margin: 15px 0;
  }
  h6 {
    font-size: 14px;
    margin: 10px 0;
  }
  p {
    font-size: 14px;
    line-height: 1.6;
    // text-indent: 2em;
  }
}