.tableContainer {
  // width: 1200px;
  margin-top: 40px;

  .tableHeader,
  .rowInfos {
    width: 100%;
    padding: 0 30px;

    .ColumsWidth {
      display: inline-block;
      width: 12%;
      text-align: left;
    }

    .ColumsWidth:nth-child(1) {
      width: 40%;
    }

    .lineMain {
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .startTruck {
      display: flex;
      align-items: center;
    }

    .endTruck {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: calc(100% - 130px);

      span {
        display: inline-block;
        overflow: hidden;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .ColumsWidth:nth-child(6) {
      text-align: right;
    }
  }

  .tableHeader {
    height: 60px;
    color: #333;
    font-size: 16px;
    line-height: 60px;
    background-color: #ebebeb;
  }

  .tableBody {
    width: 100%;
    background-color: #fff;

    li {
      width: 100%;
      border-bottom: 1px solid #999;
      position: relative;
      .specialFlag {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 20px;
        background-image: url('../../assets/img/special-flag-icon.svg');
        background-size: cover;
      }
      .rowInfos {
        height: 80px;
        line-height: 80px;

        .line {
          display: inline-block;
          font-size: 24px;
        }

        .voyage {
          color: #666;
          font-size: 20px;
        }

        .price {
          color: #ff7d14;
          font-weight: bold;
          font-size: 20px;
        }

        .total {
          color: #ff0808;
          font-weight: bold;
          font-size: 20px;
        }

        .btn {
          display: inline-block;
          width: 90px;
          height: 30px;
          color: #fff;
          line-height: 30px;
          text-align: center;
          background-color: #2556f2;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      .expandeContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 58px;
        margin: 0 30px;
        color: #999;
        font-size: 14px;
        line-height: 58px;
        border-top: 1px dashed #ccc;
        color: #666;
      }

      .explain {
        border-top: 1px dashed #ccc;
        margin: 0 30px;
        padding: 12px 0;
        .title {
          color: #2556F2;
          font-size: 16px;
        }
        p {
          color: #333;
          margin-top: 5px;
        }
      }
    }
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  text-align: center;

  .total {
    margin-right: 20px;

    strong {
      color: #0d46ef;
      font-weight: normal;
    }
  }
}
