<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>门户</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1825406_wem2uckafij.css">
</head>

<body>
  <link rel="stylesheet" href="<%= context.publicPath %>reset.css">
  <div id="root"></div>
</body>

</html>