@import '@/styles/flexible.scss';

.wrap {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between center'];

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  width: 138px;
  height: 50px;
  background-color: red($color: #000);
}

.navsWrap {
  color: #fff;
  font-size: 14px;
  .navItem {
    margin-right: 60px;
    color: #fff;
    cursor: pointer;
  }
  .otherItem {
    margin-right: 0;
  }
  .active {
    font-weight: bold;
  }
}

.loginer {
  display: inline-block;
  position: relative;
  z-index: 9999;
  &:hover {
    .controlNav {
      display: block;
    }
  }
  span {
    cursor: pointer;
  }
  .controlNav {
    display: none;
    position: absolute;
    color: blue;
    top: 60px;
    right: 0;
    padding-top: 12px;
  }
  ul {
    color: blue;
    width: 110px;
    height: 126px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 4px 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    li {
      white-space: nowrap;
      line-height: 1;
      &:hover {
        a {
          color: #2556f2;
        }
      }
    }
    a {
      color: #333;
    }
  }
}
