@import '@/styles/flexible.scss';

.wrap {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between center'];
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  width: 138px;
  height: 50px;
}
.fontLogo{
  font-size: 30px;
}

.navsWrap {
  color: #fff;
  font-size: 14px;

  .navItem {
    margin-right: 60px;
    color: #fff;
    cursor: pointer;
  }

  .otherItem {
    margin-right: 0;
  }

  .active {
    font-weight: bold;
  }
}

.loginer {
  position: relative;
  z-index: 9999;
  display: inline-block;

  &:hover {
    .controlNav {
      display: block;
    }
  }

  span {
    cursor: pointer;
  }

  .controlNav {
    position: absolute;
    top: 52px;
    right: 0;
    display: none;
    padding-top: 12px;
    color: blue;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px;
    height: 126px;
    padding: 20px;
    color: blue;
    background: rgba(255, 255, 255, 1);
    border-radius: 0 0 4px 4px;

    li {
      line-height: 1;
      white-space: nowrap;

      &:hover {
        a,
        span {
          color: #2556f2;
        }
      }
    }

    a,
    span {
      color: #333;
    }
  }
}
