@import '@/styles/flexible.scss';

.wrap {
  @extend [layout];
  @extend [layout='row'];
  @extend [layout-align='space-between center'];
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  width: 138px;
  height: 50px;
}
.fontLogo{
  font-size: 30px;
}

.navsWrap {
  color: #fff;
  font-size: 14px;

  .navItem {
    margin-right: 60px;
    color: #fff;
    cursor: pointer;
  }

  .otherItem {
    margin-right: 0;
  }

  .active {
    font-weight: bold;
  }
}


