.header {
  width: 100%;
  height: 80px;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(50deg,rgba(13,70,239,1) 0%,rgba(13,70,239,1) 0%,rgba(13,71,239,1) 0%,rgba(19,137,250,1) 100%);
}